<div class="modal-header dialogue-header">
  <h2 class="modal-title pull-left align-title">{{ title }}</h2>
  <button type="button" class="close pull-right" aria-label="Close">
    <!-- <span aria-hidden="true">&times;</span> -->
  </button>
</div>

<div class="modal-body" [formGroup]="addProductForm">
  <div class="control-container">
    <div class="control-left">
      <app-ar-fish-name [form]="addProductForm" [controlName]="'product'" [title]="'Product name'"></app-ar-fish-name>
    </div>
    <div class="control-right">
      <app-ar-fish-number [form]="addProductForm" [controlName]="'rate'" [title]="'Rate (INR)'"
        (keypress)="validateNumeric($event)"></app-ar-fish-number>
    </div>
  </div>
</div>
<br>
<div class="modal-footer" style="height: 60px;">
  <button type="button" class="btn btn-default submit-btn btn-primary" (click)="save()">Save</button>
</div>
