<div id="wrapper" class="">
  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
      <li class="sidebar-brand"><a id="menu-toggle" (click)="toggleMenu($event)">Menu<span id="main_icon"
            class="glyphicon glyphicon-align-justify"></span></a></li>
    </ul>
    <ul class="sidebar-nav" id="sidebar">
      <li *ngFor="let menu of menuItem" [routerLink]="['/'+menu.url]"><a>{{ menu.name }}<div class="{{ menu.class }}">
          </div></a></li>
      <!-- <li><a>link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li> -->
    </ul>
  </div>

  <!-- Page content -->
  <div id="page-content-wrapper">
    <div class="page-content inset">
      <div class="row">
        <div class="col-md-12">
          <p class="well lead align-center">Aarai fish exports!</p>
          <!-- <p class="well lead">Click on the Menu to Toggle Sidebar . Hope you enjoy it!</p> -->
        </div>
      </div>
    </div>
  </div>


  <div class="route-container">
    <router-outlet></router-outlet>
  </div>

</div>
