<div *ngIf="!isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="isLoading">
  <h2>
    Settings
  </h2>

  <div class="card">
    <div class="card-body row">
      <span style="    margin-left: 15px;
    margin-top: 5px;">Public facing page</span>
      <div class="input-group" style="margin-left: 24%;
    width: 20%;">
        <a [routerLink]="['/book']" target="_blank" style="max-width: 130%;">https://aaraifish.in/book</a>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <div class="row" style="margin-left: 3px;">
        <h3 style="width: 40%;">Allow pablic book online</h3>
        <label class="switch" style="margin-right: 20%;">
          <input type="checkbox" (change)="changeAvailability($event)" [attr.checked]="true">
          <span class="slider"></span>
        </label>
        <!-- <span>
          <i>we're <b *ngIf="!day?.active"> not </b> available on {{ day?.day }}</i>
        </span> -->
      </div>
    </div>
  </div>

  <br>
  <div class="card">
    <div class="card-header">
      <b>Working days</b>
    </div>
    <form [formGroup]="daysForm">
      <div class="card-body">
        <div class="row" style="margin-left: 3px;" *ngFor="let day of days">
          <h3 style="width: 40%;">{{ day?.day }}</h3>
          <label class="switch" style="margin-right: 20%;">
            <input type="checkbox" (change)="changeToggle(day, $event)" [attr.checked]="day?.active"
              formControlName="{{day?.constant?.toLowerCase()}}">
            <span class="slider"></span>
          </label>
          <span>
            <i>we're <b *ngIf="!day?.active"> not </b> available on {{ day?.day }}</i>
          </span>
        </div>
      </div>
    </form>
  </div>

  <br>

  <div class="card" [formGroup]="minNoticeForm">
    <div class="card-body row">
      <span style="    margin-left: 15px;
    margin-top: 5px;">Min notice (Booking)</span>
      <div class="input-group" style="margin-left: 24%;
    width: 20%;">
        <select style="background-color: rgba(255,255,255,0.15);width: 100%;" (change)="selectMin($event, 'minNotice')"
          formControlName="minNotice">
          <option *ngFor="let notice of minNotice; let ind = index" value={{ind+1}}
            selected="settings?.minNotice === ind">
            {{ notice }}</option>
        </select>
      </div>
    </div>

    <div class="card-body row">
      <span style="    margin-left: 15px;
    margin-top: 5px;">Min quantity booking</span>
      <div class="input-group" style="margin-left: 24%;
    width: 20%;">
        <select style="background-color: rgba(255,255,255,0.15);width: 100%;" (change)="selectMin($event, 'minQty')"
          formControlName="minQty">
          <option *ngFor="let qty of minQty; let ind = index" value={{qty.value}}>
            {{ qty.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <br>
</div>
