<div [formGroup]="form">
  <div class="form-group">
    <label for="name01" id="basic-addon-name1">{{title}}
    </label>
    <div class="input-group">
      <select class="select-style" formControlName="{{controlName}}" (change)="selectProduct($event)">
        <option *ngFor="let product of prods" value="{{product.id}}">{{ product.productName }}</option>
      </select>
    </div>
  </div>
</div>
