<div [formGroup]="form">
  <div class="form-group">
    <label for="name01" id="basic-addon-name1">{{title}}
    </label>
    <div class="input-group">
      <!-- <span class="input-group-addon">
        <i class="material-icons">person</i>
      </span> -->

      <textarea class="ta-style" formControlName="{{controlName}}"
        placeholder="Enter {{title.toLowerCase()}}">Enter {{title.toLowerCase()}}</textarea>

    </div>
  </div>
</div>
