<div [formGroup]="form">
  <div class="form-group">
    <label for="name01" id="basic-addon-name1">{{title}}
    </label>
    <div class="input-group">
      <input type="text" formControlName="{{controlName}}" [bsConfig]="{showWeekNumbers: false }"
        placeholder="Select {{title.toLowerCase()}}" class="form-control" [daysDisabled]="disableDays" bsDatepicker
        [minDate]="minDate">
    </div>
  </div>
</div>
