<div [formGroup]="form">
  <div class="form-group">
    <label for="name01" id="basic-addon-name1">{{title}}
    </label>
    <div class="input-group">
      <input id="name01" type="text" autocomplete="no" formControlName="{{controlName}}" #nameFormField
        placeholder="Enter {{title.toLowerCase()}}" aria-describedby="basic-addon-name1" class="form-control" />
    </div>
  </div>
</div>
