<div class="main">


  <div class="container">

    <div class="middle">
      <div id="login">

        <form [formGroup]='loginForm'>

          <fieldset class="clearfix">

            <p><span class="fa fa-user"></span><input type="text" Placeholder="Username" formControlName='email'
                required></p>
            <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fa fa-lock"></span><input type="password" formControlName='password' Placeholder="Password"
                required></p>
            <!-- JS because of IE support; better: placeholder="Password" -->

            <div>
              <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Forgot
                  password?</a></span>

              <span style="width:50%; text-align:right;  display: inline-block;">
                <button class="sign-in-btn" (click)="login()">Sign In</button>
              </span>

              <span style="width:48%; text-align:left;  display: inline-block;">
                <a class="small-text" [routerLink]="['/signup']">
                  Do not have an account? signup here
                </a>
              </span> </div>
          </fieldset>
          <div class="clearfix"></div>
        </form>

        <div class="clearfix"></div>

      </div> <!-- end login -->
      <div class="logo">
        <img class="logo-img" src="/assets/images/logo.png" alt="">

        <div class="clearfix"></div>
      </div>

    </div>

  </div>

</div>
