<div [formGroup]="form">
  <div class="form-group">
    <label for="name01" id="basic-addon-name1">{{title}}
    </label>
    <div class="input-group multi-select ui-select-choices">
      <angular2-multiselect style="width: 100%;" [data]="prodItems" formControlName="{{controlName}}"
        [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
        (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
        (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
    </div>
  </div>
</div>
