<!-- <div style="margin-top: 200px;"> -->

<div class="modal-header dialogue-header">
  <h2 class="modal-title pull-left align-title">{{ title }}</h2>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <!-- <span aria-hidden="true">&times;</span> -->
  </button>
</div>
<div class="modal-body" [formGroup]="addCustomerForm">
  <div class="control-container">
    <div class="control-left">
      <app-ar-fish-number [form]="addCustomerForm" [controlName]="'phone'" [title]="'Phone number'">
      </app-ar-fish-number>
    </div>
    <div class="control-right">
      <app-ar-fish-name [form]="addCustomerForm" [controlName]="'name'" [title]="'Name'"></app-ar-fish-name>
    </div>
  </div>

  <div class="control-container">
    <div class="control-left">
      <app-ar-fish-date [form]="addCustomerForm" [controlName]="'deliveryDate'" [disableDays]="disableDays"
        [title]="'Delivery date'">
      </app-ar-fish-date>
    </div>
    <div class="control-right">
      <app-ar-fish-name [form]="addCustomerForm" [controlName]="'doorNumber'" [title]="'Door number'">
      </app-ar-fish-name>
    </div>
  </div>

  <div class="control-container">
    <div class="control-left">
      <app-ar-fish-name [form]="addCustomerForm" [controlName]="'street'" [title]="'Street'"></app-ar-fish-name>
    </div>
    <div class="control-right">
      <app-ar-fish-name [form]="addCustomerForm" [controlName]="'area'" [title]="'Area'"></app-ar-fish-name>
    </div>
  </div>

  <div class="control-container">
    <div class="control-left">
      <app-ar-fish-name [form]="addCustomerForm" [controlName]="'district'" [title]="'District'"></app-ar-fish-name>
    </div>
    <div class="control-right">
      <app-ar-fish-name [form]="addCustomerForm" [controlName]="'landMark'" [title]="'Landmark'"></app-ar-fish-name>
    </div>
  </div>

  <div class="control-container">
    <!-- {{products | json}} -->
    <div class="control-left">

      <app-ar-multi-select [form]="addCustomerForm" [products]="products" [controlName]="'products'"
        [customer]="customer" (selectProduct)="selectProduct($event)" (deselectProduct)="deselectProduct($event)">
      </app-ar-multi-select>
    </div>
    <div class="control-right">
      <div formArrayName="qty" *ngFor="
              let item of addCustomerForm.get(
                'qty'
              )['controls'];
              let j = index
            ">
        <div [formGroupName]="j">
          <div class="form-group">
            <label for="name01" id="basic-addon-name1">Select <span
                class="lowercase">{{ item?.value.productName?.itemName }} </span>

              quantity - <span style="cursor: pointer;     color: #2e77c3;
" title="Rate per Kg">({{item?.value.productName?.rate}}/kg)</span>
            </label>
            <div class="input-group">
              <select formControlName="productQty" style="background-color: rgba(255,255,255,0.15);width: 100%;">
                <option *ngFor="let qty of quantity; let ind = index" value={{qty?.value}}>
                  {{ qty?.qty }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button>Submit</button> -->
  <!-- <div class="row control-container">
    <button type="button" class="btn btn-primary control-right">
      Single Button
    </button>
  </div> -->
</div>
<br>
<div class="modal-footer" style="height: 60px;">
  <button type="button" class="btn btn-default submit-btn btn-primary" (click)="save()">Save</button>
</div>

<!-- </div> -->
