.control-container {
  overflow: auto;
  // margin: 2em auto;
}

.control-left,
.control-right {
  width: 50%;
  // margin: 5px;
  padding: 0.5em;
  background: white;
}

.control-full-length {
  width: 50%;
  padding: 1em;
}

.dialogue-header {
  height: 50px;
  margin-top: 10px;
}

.control-left {
  float: left;
}

.control-right {
  float: right;
}

.align-title {
  text-align: left;
  position: absolute
}

.submit-btn {
  width: 25%;
  height: 100%;
  background: #2e77c3;
  margin-right: 10px;
}
