<!-- <app-spinner *ngIf="!isLoading"></app-spinner> -->
<div *ngIf="!isLoading">
  <app-spinner></app-spinner>
</div>

<ng-container *ngIf="isLoading">
  <div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Product name</th>
          <th scope="col">Rate(INR)</th>
          <th scope="col">Edit</th>
          <th scope="col" style="text-align: center;">Available/Not available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let index=index" [ngClass]="{'set-bg-clr' : !product?.active}">
          <th>
            <p>{{index + 1}}</p>
          </th>
          <td>
            <p>{{product?.productName || 'No Name'}}</p>
          </td>
          <td>
            <p>{{product?.rate || '-' }}</p>
          </td>
          <td>
            <svg (click)="editProduct(product)" style="margin-top: 15px;" width="1.5em" height="1.75em"
              viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </td>
          <td style="text-align: center;">
            <svg *ngIf="product.active" (click)="updateProduct(product)" style="margin-top: 15px;" width="2em"
              height="2em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="#2e77c3"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>

            <svg *ngIf="!product.active" (click)="updateProduct(product)" style="margin-top: 15px;text-align: center;"
              width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="#d45288"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M12.83 6.706a5 5 0 0 0-7.103-3.16.5.5 0 1 1-.454-.892A6 6 0 1 1 2.545 5.5a.5.5 0 1 1 .91.417 5 5 0 1 0 9.375.789z" />
              <path fill-rule="evenodd"
                d="M7.854.146a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 1 0 .708-.708L5.707 3 7.854.854a.5.5 0 0 0 0-.708z" />
            </svg>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div _ngcontent-gfn-c18="" class="add-waitlist btn-primary" id="add-waitlist" (click)="addProduct()"><i
      _ngcontent-gfn-c18="" class="material-icons">add</i></div>
</ng-container>
