.table-list {
  margin-left: 16px;
  margin-right: 16px;
  // position: fixed;
}

.add-waitlist {
  // background: #506cf0;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.set-bg-clr {
  background: #b4ffb3;
}

.add-waitlist i {
  color: #fff;
  font-size: 24px;
  margin-top: 16px;
}
