//body
// $background-color: #f4f4f5;
$background-color: #fbfbfd;
$font-size: 1rem;
$font-family: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-color: #3d4455;
// button
$button-background-color: #506cf0;
$button-hover-color: #5d7aff;
$button-color: #fff;
$button-font-size: 0.9rem;
$button-padding: 0.6rem 1rem;
$border-color: #e0e6ed;
$submit-btn-padding: 0.661rem 1rem;
// input
$input-padding: 0.6rem 0.75rem;
$input-font-size: 0.85rem;
$linkcolor: #506cf0;
$normal-font-size: 0.8rem;
$termsheadfontsize: 1.3rem;
// logo
$logofontsize: 2rem;
$logofontfamily: "Lobster",
cursive;
$business-card-margin: 0.275rem -0.7rem;
// sidebar
$sidebar-sm-width: 3.75rem;
$sidebar-icon-size: 1.5rem;
$sidebar-icon-color: #6f778b;
$sidebar-bgcolor: #202224;
$sidebar-font-size: 12px;

// top bar
$top-bar-label-color: #a2aabd;
$top-bar-label-fontsize: 0.8rem;
$top-bar-head-fs: 1.3rem;

//modal box

$modal-button-min-width: 5rem;

//guest list

$table-head-color: #a2aabd;

// href link

$href-color: #506cf0;
