/* You can add global styles to this file, and also import other style files */
@import "variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// side bar
.side-bar-wrap {
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;

  &.whiteTheme {
    .side-bar .menus li.active {

      i,
      span {
        color: #3c3c3c;
      }
    }

    .side-bar .menus li:hover {
      background: #d0d0d0;
    }
  }

  &.redTheme {
    .side-bar .menus li:hover {
      background: #c51e27;
    }
  }

  &.blueTheme {
    .side-bar .menus li:hover {
      background: #0c4082;
    }
  }

  &.greenTheme {
    .side-bar .menus li:hover {
      background: #3c6b3c;
    }
  }

  &.yellowTheme {
    .side-bar .menus li:hover {
      background: #e8922f;
    }
  }

  &.brownTheme {
    .side-bar .menus li:hover {
      background: #311e11;
    }
  }

  &.purpleTheme {
    .side-bar .menus li:hover {
      background: #5d2a5b;
    }
  }

  &.pinkTheme {
    .side-bar .menus li:hover {
      background: #ca4d90;
    }
  }

  background: $sidebar-bgcolor;
  width: 8.75rem;
  height: 100%;
  position: fixed;
  margin-right: 7rem;
  overflow: hidden;
  z-index: 999999;
  top: 0;
  padding: 0px;

  @media (max-width: 992px) and (min-width: 768px) {
    height: 100%;
  }

  @media screen and (max-width: 767px) {
    width: 0;
  }

  &.active {
    width: 13rem;
  }

  .side-bar {
    .waitlist-name {
      position: relative;
      text-align: center;
      width: 3.75rem;

      & ngx-avatar {
        font-size: $sidebar-font-size !important;
        margin-top: 1rem !important;

        div {
          border-radius: 3px !important;
        }
      }

      label {
        position: absolute;
        left: 100%;
        margin-top: 0.79rem;
        top: 0px;
        color: #fff;
        width: 9rem;
        text-align: left;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        height: 42px;
        align-items: center;
        font-weight: bold;

        i {
          color: $sidebar-icon-color;
          cursor: pointer;
        }
      }
    }

    .menus {
      width: 100%;

      &:focus {
        outline: none;
      }

      margin-top: 0.85rem;
      float: left;
      clear: both;

      li {
        width: 100%;
        outline: none;

        &:hover {
          // background-color: #2b2a3d;
        }

        &.active {

          i,
          span {
            color: #fff;
          }
        }

        div.side-bar-cont {
          &:focus {
            outline: none;
          }

          position: relative;
          display: block;
          list-style: none;
          color: #707274;
          text-align: center;
          padding: 0.6rem 0;
          margin: 0.25rem 0;
          font-size: 1.5rem;
          cursor: pointer;
          transition: all 0.3s ease;
          width: 3.7rem;

          &:hover {
            color: #fff;
          }

          span {
            font-size: $sidebar-font-size;
            position: absolute;
            left: 100%;
            margin-top: 0.35rem;
            white-space: nowrap;
            font-weight: bold;
          }

          label {
            min-width: 17px;
            position: absolute;
            color: #fff;
            text-align: center;
            opacity: 1;
            text-shadow: none;
            text-decoration: none;
            height: 17px;
            box-sizing: border-box;
            font-weight: 700;
            background-color: #506cf0;
            font-size: 11px;
            line-height: 15px;
            padding: 0 3px;
            border-radius: 50%;
            top: 2px;
            left: 32px;
            font-weight: 700;
            box-shadow: none;
          }
        }
      }
    }

    .avatar-upgrade {
      position: absolute;
      bottom: 0;
      width: 100%;

      .menus {
        margin-top: 0.2rem;
        width: 100%;
      }
    }

    .avatar-wrap {
      position: relative;
      float: left;
      padding-left: 10px;

      .avatar {
        // @include border-radius(50%);
        width: 8rem;
        height: 5rem;
        margin: 0rem auto 0.5rem;
        cursor: pointer;
        display: block;
        margin-right: 15px;
        font-size: $sidebar-font-size;
        outline: none;

        div {
          height: 100%;

          div {
            padding: 0.7rem 0 0;
            font-size: $sidebar-font-size;
          }
        }
      }

      span {
        position: absolute;
        top: 0.7rem;
        left: 100%;
        color: #fff;
        width: 9rem;
        font-size: $sidebar-font-size;

        i {
          position: absolute;
          right: 0;
          top: -5px;
          cursor: pointer;
          color: $sidebar-icon-color;
        }
      }
    }
  }
}

.input-group {
  .w-checkbox+label {
    margin-bottom: 0;
    font-weight: normal;
    color: #212529;
  }

  &.dynamic-form-checkbox {
    .input-group-addon {
      padding-left: 0;
    }

    &+.text-danger {
      margin-top: 0;
    }
  }

  .input-group-addon {
    background: transparent;
    border: none;
    color: #a2aabd;
    position: absolute;
    height: 100%;
    z-index: 1;
    z-index: 5;

    i {
      font-size: 1.154rem;
    }
  }

  .select-style {
    width: 100%;
    border-color: #ced4da;
    background: transparent;
  }

  textarea.form-control {
    min-height: 54px !important;
  }

  .form-control {
    font-size: 1.5rem !important;
    border-radius: 0.2rem !important;
    padding-left: 0;
    text-indent: 40px;
    height: 36px;

    &:focus {
      border-color: #506cf0;
    }
  }

  select {
    // @extend input;
    height: 36px !important;
  }

  .checkbox-label {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    padding: 0.7rem 0rem 0;
    font-size: 1rem;
    width: 100%;
    font-size: 0.85rem;
    height: 30px;
    padding-left: 45px;

    &.error {
      border-color: #ff2233;
    }
  }
}

.btn-primary {
  background: #2e77c3;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}
